@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Playwrite';
    src: url(fonts/PlaywriteAUSA-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style:normal;
}

*{
    margin: 0px;
}
h1 {
    color: darkmagenta;
    font-size: 30px;
    font-family:'Playwrite';
}

h2 {
    font-family: 'Playwrite';
    color:deeppink;
    font-size: 2em;
}

h3 {
    font-family:'Montserrat';
    color: deeppink;
    line-height: 3;
}

h3:hover {
    color:darkseagreen; 
}

p {
font-family: 'Montserrat';
line-height: 1.5;
}


.portafolio:hover {
    transform: scale(140%);
}

.descr {
    color: white;
    margin: 15px;
}

#cabecera {
    background-color:darkseagreen; 
    height: 65px;
}

li {
    background-color: deeppink;
    display: flex;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    width: 95px;
    height: 15px;
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}


ol {
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover {
    color: darkmagenta;
    font-size: 1em;
}

footer {
    background-color: darkseagreen;
    height: 35px;
    padding: 15px;
    display: flex;
    justify-content:space-between;
}

.sobremi {
background-color:lightpink;
width: 450px;
height: 260px;
display: flex;
justify-content: space-between;
align-items: center;
padding:15px;
border-radius: 35px;
}

#trabajos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin: 15px;
}
.experiencia {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.herramientas {
    background-color: darkseagreen;
    border-radius: 10px;
    padding: 10px;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    align-content: space-between;
    gap: 5px;
    column-gap: 5px;
}

.inicio {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


.contacto {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.contacto2 {
    display: flex;
    gap: 25px;
    padding: 15px;
}