@charset "utf-8";
/* CSS Document */

*{
    margin: 0px;
}
h1 {
    color: darkmagenta;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace
}

h2 {
    color: darkmagenta;
}

h3 {
        font-family: "Playwrite";
        color: deeppink;
}

h3:hover {
    color:darkseagreen; 
}

p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.descr {
    color: white;
    margin: 15px;
}

#cabecera {
    background-color:darkslateblue; 
    height: 65px;
}

li {
    display: flex;
    display: inline-block;
    justify-content:flex-end;
    align-items: center;
    width: 95px;
    height: 15px;
    background-color:plum;
    color: darkslateblue;
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
}

li:hover {
    color: white;
    font-size: 1em;
}

footer {
    background-color: darkolivegreen;
    height: 35px;
    padding: 5px;
    display: flex;
    justify-content:space-between;
}
main {
    margin: 45px;
}

.sobremi {
background-color:lightpink;
width: 450px;
height: 300px;
display: flex;
justify-content: space-between;
align-items: center;
padding:15px;
border-radius: 10px;
}

#trabajos {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
}
.experiencia {
    background-color: darkmagenta;
}