@charset "utf-8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}
h1 {
    color: darkmagenta;
    font-size: 30px;
}

#cabecera {
    background-color:darkslateblue; 
    width: 1980px;
    height: 60px;
}
#quiensoy {
    background-color: darkolivegreen;
    margin: 30px;
    display: flex;
}
li {
    display: flex;
    display: inline-block;
    justify-content: space-around;
    width: 100px;
    height: 25px;
    background-color:plum;
    color: darkslateblue;
    margin: 30px;
    padding: 20px;
}
li:hover {
    color: white;
    font-size: 1em;
}
footer {
    background-color: darkolivegreen;
    display: flex;
    justify-content:space-between
}
main {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-start
}
section {
    padding: 30px;
    margin: 15px;
    background-color: darkolivegreen;
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;
}